@using Microsoft.AspNetCore.Http
@using CuaHangDienThoai.Common
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CuaHangDienThoai</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-info">
            <div class="container">
                @if (HttpContextAccessor.HttpContext.Session.GetString(CommonAdmin.USER_SESSION) != null)
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Hangs" asp-action="Index">Quản lý hãng</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="ModelDienThoais" asp-action="Index">Quản lý mẫu điện thoại</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="DienThoais" asp-action="Index">Quản lý điện thoại</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="KhachHangs" asp-action="Index">Danh sách khách hàng</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="TaiKhoanAdmins" asp-action="Index">Quản lý tài khoản Admin</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="DonHangs" asp-action="Index">Quản lý đơn hàng</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="HoaDons" asp-action="Index">Quản lý hóa đơn</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="IMEI_DienThoai" asp-action="Index">Quản lý IMEI</a>
                    @if (HttpContextAccessor.HttpContext.Session.GetString(CommonAdmin.ROLE_SESSION) == "Super Admin")
                    {

                    }
                }


                <div>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - CuaHangDienThoai - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
