
@{
    ViewData["Title"] = "Warning";
}

    <div style="text-align:center">
        <img src="~/images/warning.png" style="border-radius:5px; width:200px;height:200px;"/>
    </div>
<div class="text-center"><b class="text-danger">Bạn không đủ quyền để truy cập trang này</b></div>

