@model CuaHangDienThoai.Models.TaiKhoanAdmin

@{
    ViewData["Title"] = "Chỉnh sửa mật khẩu";
}

<h1>Edit</h1>

<h4 class="text-info">Quản lý trạng thái tài khoản Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4 border rounded">
        <form method="post" asp-action="EditPass" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User" />
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" type="password" id="old-pass" required class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mật khẩu mới</label>
                <input type="password" id="pass" name="pass" required class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu</label>
                <input type="password" id="repeat-pass" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" asp-route-user="@Model.User" value="Update" />
                <a asp-action="Index" class="btn btn-success">Trở về</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{ var Pass = Model.Pass;}
    <script type="text/javascript">
        function validateForm() {
            var Pass=@Pass;
            var old_pass = document.getElementById("old-pass").value;
            var pass = document.getElementById("pass").value;
            var repeat_pass = document.getElementById("repeat-pass").value;
            if (old_pass == "") {
                 alert("Vui lòng nhập mật khẩu");
                return false;
            }
            if (old_pass.length != Pass.Length)
            {
                 alert("Sai mật khẩu");
                return false;
            }
            for (var i = 0; i < old_pass.length; i++) {
                if (old_pass[i] != Pass[i]) {
                    alert("Mật khẩu không khớp");
                    return false;
                }
            }




            for (var i = 0; i < pass.length; i++) {
                if (pass[i] != repeat_pass[i]) {
                    alert("Mật khẩu không khớp");
                    return false;
                }
            }
            if (pass == "" || repeat_pass == "") {
                 alert("Vui lòng điền đầy đủ thông tin");
                return false;
            }
            if (pass.length != repeat_pass.length) {
                 alert("Mật khẩu không khớp");
                return false;
            }
            for (var i = 0; i < pass.length; i++) {
                if (pass[i] != repeat_pass[i]) {
                    alert("Mật khẩu không khớp");
                    return false;
                }
            }
            return true;
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



