@model CuaHangDienThoai.Models.TaiKhoanAdmin

@{
    ViewData["Title"] = "Chỉnh sửa mật khẩu";
}

<h4 class="text-info" style="text-align:center">Chỉnh sửa mật khẩu</h4>
<hr />
<div class="row">
    <div class="p-4 rounded">
        <div class="col-12">
            <div class="col-3"></div>
            <div class="col-9">
                <form method="post" asp-action="EditPass" onsubmit="return validateForm()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="User" />
                    <div class="form-group">
                        <label asp-for="User" class="control-label"></label>
                        <input asp-for="User" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Pass" class="control-label"></label>
                        <input type="password" id="enter-pass" required class="form-control" />
                    </div>
                    @{var Pass = Model.Pass;}
                    <input value=@Pass id="old-pass" hidden />
                    <div class="form-group">
                        <label class="control-label">Mật khẩu mới</label>
                        <input type="password" id="pass" name="pass" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nhập lại mật khẩu</label>
                        <input type="password" id="repeat-pass" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" asp-route-user="@Model.User" value="Update" />
                        <a asp-action="Index" class="btn btn-success">Trở về</a>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
@section Scripts{
    
    <script type="text/javascript">
        function validateForm() {
            var enter_pass = document.getElementById("enter-pass").value;
            var old_pass = document.getElementById("old-pass").value;
            var pass = document.getElementById("pass").value;
            var repeat_pass = document.getElementById("repeat-pass").value;
            if (enter_pass == " ") {
                 alert("Vui lòng nhập mật khẩu");
                return false;
            }
            if (old_pass.length != enter_pass.length)
            {
                 alert("Sai mật khẩu");
                return false;
            }
            for (var i = 0; i < old_pass.length; i++) {
                if (old_pass[i] != enter_pass[i]) {
                    alert("Sai mật khẩu");
                    return false;
                }
            }




            for (var i = 0; i < pass.length; i++) {
                if (pass[i] != repeat_pass[i]) {
                    alert("Mật khẩu mới không khớp");
                    return false;
                }
            }
            if (pass == " " || repeat_pass == " ") {
                 alert("Vui lòng điền đầy đủ thông tin");
                return false;
            }
            if (pass.length != repeat_pass.length) {
                 alert("Mật khẩu mới không khớp");
                return false;
            }
            for (var i = 0; i < pass.length; i++) {
                if (pass[i] != repeat_pass[i]) {
                    alert("Mật khẩu mới không khớp");
                    return false;
                }
                 if (pass[i]==" " || repeat_pass[i]==" ") {
                    alert("Mật khẩu không được có khoảng trắng");
                    return false;
                }
            }
            return true;
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



