@model CuaHangDienThoai.Models.View.ModelDienThoaiViewModel
@using CuaHangDienThoai.Extensions
@{
    ViewData["Title"] = "Details";
}
<br />
<h2 class="text-info">Chi tiết mẫu điện thoại</h2>
<div class="p-4 border rounded row">
    <div class="col-8">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.TenModel"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.TenModel" class="form-control" />
                </div>
              
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.Hang.TenHang"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Hang.TenHang" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Hangs"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Hang.TenHang" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.Ram"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Ram" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.Rom"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Rom" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.ManHinh"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.ManHinh" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.Camera"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Camera" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.Pin"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Pin" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.Chip"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.Chip" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.NgayRaMat"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ModelDienThoais.NgayRaMat" id="datepicker" readonly class="form-control" />
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ModelDienThoais.TrangThai"></label>
                </div>
                <div class="col-5">
                    <input type="checkbox" readonly asp-for="ModelDienThoais.TrangThai" class="form-control"/>
                </div>
            </div>
        </div>
    <div class="col-1">

    </div>
    <div class="col-3">
        <img src="@Model.ModelDienThoais.Hinh" width="100%" style="border-radius:5px ; border:1px solid #bbb9b9;" />
    </div>

    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-MaModel="@Model.ModelDienThoais.MaModel">Edit</a>
        <a asp-action="Index" class="btn btn-success">Trở về</a>
    </div>
</div>

