@{
    ViewData["Title"] = "Thành công";

}
<h1 class="text-info text-center"><a asp-area="Identity" class="nav-link" asp-controller="Login" asp-action="Index">Đăng nhập</a>Thay đổi mật khẩu thành công, Nhấn vào đây để đăng nhập</a></h1>