@using Microsoft.AspNetCore.Http
@using CuaHangDienThoai.Common
@using CuaHangDienThoai.Models.View
@using CuaHangDienThoai.Data
@using CuaHangDienThoai.Extensions
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "_News";
}
@if (HttpContextAccessor.HttpContext.Session.GetString(CommonAdmin.USER_SESSION) != null)
{

    MobileContext _mb = ViewBag.MobileContext;
    //var khachHangAndDonHangs = ViewBag["KhachHangAndDonHang"] as KhachHangAndDonHang;
    KhachHangAndDonHang khachHangAndDonHangs = new KhachHangAndDonHang();
    khachHangAndDonHangs = News.SendName(_mb);
    //var count = TempData["News"];
    var count = News.SendNews(_mb);
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">@count</span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
            @if (Convert.ToInt32(count) > 0)
            {
                //var khachHangAndDonHangs = ViewBag["KhachHangAndDonHang"] as KhachHangAndDonHang;

                <h6 class="dropdown-header">
                    Đơn hàng chưa duyệt
                </h6>
                for (int i = 0; i < Convert.ToInt32(count); i++)
                {
                    var khachHangAndDonHang = khachHangAndDonHangs.TenKH[i] is string;
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">Khách hàng @khachHangAndDonHang đã đặt đơn hàng</span>
                        </div>
                    </a>
                }

            }
        </div>
    </li>

    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
    </li>
}


