@model CuaHangDienThoai.Models.TaiKhoanAdmin

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-info" tyle="text-align:center">Chi tiết tài khoản Admin</h2>
<div class="p-4 border rounded">

    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2">
            <label asp-for="User"></label>
        </div>
        <div class="col-5">
            <input asp-for="User" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2">
            <label asp-for="Pass"></label>
        </div>
        <div class="col-5">
            <input asp-for="Pass" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2">
            <label asp-for="PhoneNumber"></label>
        </div>
        <div class="col-5">
            <input asp-for="PhoneNumber" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2">
            <label asp-for="Email"></label>
        </div>
        <div class="col-5">
            <input asp-for="Email" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2">
            <label asp-for="Role"></label>
        </div>
        <div class="col-5">
            <input asp-for="Role" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2">
            <label asp-for="TrangThai"></label>
        </div>
        <div class="col-5">
            <input type="checkbox" readonly asp-for="TrangThai" />
        </div>

    </div>
    <br />
    <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-2"><a asp-action="Edit" asp-route-id="@Model.User" class="btn btn-danger" style="margin-left:20px">Chỉnh sửa</a></div>
        <div class="col-2"> <a asp-action="Index" class="btn btn-success">Trở về</a></div>


    </div>
</div>
