
@{
    ViewData["Title"] = "Warning";
}

    <div>
        <i class="fas fa-exclamation-triangle" style="text-align:center;width:200px;height200px;"></i>
    </div>
<div class="text-center"><b class="text-danger">Bạn không đủ quyền để truy cập trang này</b></div>

