@model CuaHangDienThoai.Models.TaiKhoan
@{
    ViewData["Title"] = "Chỉnh sửa tài khoản";
}
<br />
<h2 style="text-align:center" class="text-info">Chỉnh sửa tài khoản</h2>
<form method="post" asp-action="EditTaiKhoan">
    <div class="p-4 border rounded" style="text-align:center">
        <input hidden asp-for="TenTK" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="KhachHang"></label>
            </div>
            <div class="col-5">
                <input asp-for="KhachHang.TenKH" readonly class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TenTK"></label>
            </div>
            <div class="col-5">
                <input asp-for="TenTK"  maxlength="50" readonly class="form-control"/>
            </div>
            <span asp-validation-for="TenTK" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="KhachHang.Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="KhachHang.Email" class="form-control" required/>
            </div>
            <span asp-validation-for="KhachHang.Email" class="text-danger"></span>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TrangThai"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="TrangThai"/>
            </div>
            <span asp-validation-for="TrangThai" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-TenTK="@Model.TenTK" value="Chỉnh sửa trạng thái và Gamil" />
            <a asp-action="EditMatKhau" asp-route-TenTK="@Model.TenTK" class="btn btn-success">Chỉnh sửa mật khẩu</a>
            <a asp-action="Index" class="btn btn-success">Trở về trang chi tiết khách hàng</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

