@model CuaHangDienThoai.Models.TaiKhoanAdmin

@{
    ViewData["Title"] = "Thêm mới admin";
}

    
<br />
<h2 class="text-info" style="text-align:center">Thêm mới admin</h2>
    <form method="post" asp-action="Create">
        <div class="p-4 rounded"> 
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-11">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <label asp-for="User"></label>
                </div>
                <div class="col-5">
                    <input asp-for="User" maxlength="20" class="form-control" />
                </div>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <label asp-for="Pass"></label>
                </div>
                <div class="col-5">
                    <input type="password" maxlength="20" asp-for="Pass" class="form-control" />
                </div>
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" maxlength="20" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-5">
                    <input type="number" maxlength="20" asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <label asp-for="Role"></label>
                </div>
                <div class="col-5">
                    <select asp-for="Role">
                        <option value="Admin">Admin</option>
                        <option value="Super Admin">Super Admin</option>
                    </select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <label asp-for="TrangThai"></label>
                </div>
                <div class="col-5">
                    <input type="checkbox" asp-for="TrangThai" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
                <div class="col-2">
                    <a asp-action="Index" class="btn btn-success" style="margin-left:20px">Trở về</a>
                </div>
            </div>
        </div>
    </form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

