@model CuaHangDienThoai.Models.TaiKhoanAdmin

@{
    ViewData["Title"] = "Edit";
}
<h4 class="text-info" style="text-align:center">Quản lý tài khoản Admin</h4>
<hr />
<div class="row">
    <div class="col-3"></div>
    <div class="col-md-4 rounded row">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role">
                    <option value="Admin">Admin</option>
                    <option value="Super Admin">Super Admin</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<div>
    <a asp-action="EditMatKhau" asp-route-User="@Model.User" class="btn btn-success">Chỉnh sửa mật khẩu</a>
    <a asp-action="Index" style="margin-left:20px">Trở về</a>
</div>

